<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.LogIn"
          android:versionCode="8"
          android:versionName="1.08">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.LockscreenEMA.Misc.LogInApp"
        android:label="LogIn"
        android:icon="@drawable/ic_launcher">

        <activity
            android:name="com.LockscreenEMA.App.MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.LockscreenEMA.App.MainActivityLaunchByNotification">
        </activity>

        <!-- A child of the main activity -->
        <activity
            android:name="com.LockscreenEMA.App.Setting"
            android:label="Setting"
            android:parentActivityName="com.LockscreenEMA.App.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.LockscreenEMA.App.MainActivity" />
        </activity>

        <activity
            android:name="com.LockscreenEMA.Visualization.Visualization"
            android:launchMode="singleInstance"
            android:label="LogIn-Result">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.LockscreenEMA.Lockscreen.LockscreenSleepiness"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.LockscreenEMA.Lockscreen.LockscreenParentEMA"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.LockscreenEMA.Lockscreen.LockscreenDepression"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.LockscreenEMA.Lockscreen.LockscreenMood"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.LockscreenEMA.Misc.RateAlert">
        </activity>

        <service android:name="com.LockscreenEMA.Lockscreen.LockscreenService" >
        </service>

        <receiver
            android:enabled="true"
            android:name="com.LockscreenEMA.Receiver.LockScreenReceiver" >
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.LockscreenEMA.Receiver.AlarmReceiverRating"></receiver>
        <receiver android:name="com.LockscreenEMA.Receiver.AlarmReceiverNotification"></receiver>

    </application>

</manifest> 
